<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @album.usuario_id %>
</p>

<p>
  <b>Foto:</b>
  <%= @album.foto %>
</p>

<p>
  <b>Descricao:</b>
  <%= @album.descricao %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
